@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Styling Starts */
div.naigation-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background-color: azure;
}

div.nav-logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #010101;
}

div.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav-links ul {
    display: inline-flex;
    list-style: none;
}

.active, div.nav-links ul li:hover {
    text-decoration: underline;
}

div.nav-links ul li {
    width: 60px;
    padding: 5px;
    margin: 5px;
    list-style: none;
    z-index: 1000;
    position: relative;
    display: block;
}

div.nav-links ul li a {
    text-decoration: none;
    color: #010101;
    font-size: 1rem;
}

div.nav-icons {
    display: inline-flex;
    list-style: none;
}

div.nav-icons li {
    /* width: 40px; */
    padding: 5px;
    margin: 5px;
    list-style: none;
}

div.nav-icons li a {
    text-decoration: none;
    color: #010101;
    font-size: 1rem;
}

div.nav-icons li.circle {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #eee;
    margin-right: 10px;
}

div.nav-icons li.share img{
    width: 20px;
    height: 20px;
}

div.nav-icons li.search img{
    width: 20px;
    height: 20px;
}

div.nav-icons li.nav-icons-btn a{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #FE6F67;
    font-size: 1rem;
    color: #010101;
}

div.nav-icons li.nav-icons-btn a:hover{
    background-color: #010101;
    transition: 0.5s ease-in-out;
    color: #fff;
}

/* Sub-Menu Styling Starts */
div.sub-menu-1 {
    display: none;
}

div.nav-links ul li:hover div.sub-menu-1 {
    display: block;
    position: absolute;
    background: azure;
    padding-top: 25px;
    margin-left: -15px;
}

div.nav-links ul li:hover div.sub-menu-1 ul {
    display: block;
    margin: 10px;
}

div.nav-links ul li:hover div.sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #010101;
    background: transparent;
    border-radius: 0;
    text-align: left;
    /* position: relative; */
}

div.nav-links ul li:hover div.sub-menu-1 ul li a {
    color: #010101;
}

div.nav-links ul li:hover div.sub-menu-1 ul li:last-child {
    border-bottom: none;
}
/* Sub-Menu Styling Ends */

@media (max-width: 768px) {
    div.naigation-container {
        display: flex;
        justify-content: center;
        /* padding: 1em; */
    }
}
/* Navigation Styling Ends */

/* Hero Section Styling Starts */
div.hero-section {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

div.hero-image {
    display: flex;
    justify-content: space-evenly;
}

div.hero-image-icon img {
    width: 530px;
    height: 300px;
    border-radius: 10px;
    margin-right: 30px;
    /* position: relative; */
}

div.hero-image-icon {
    position: relative;
}

div.hero-image-icon-content {
    position: absolute;
    top: 80px;
    left: 70px;
}

div.hero-image-icon-content h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

div.hero-image-icon-content h6 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

div.hero-image-icon-content-link {
    margin-top: 30px;
}

div.hero-image-icon-content-link a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    background: #fff;
    color: #010101;
    border: 0;
    font-size: 1rem;
    outline: none;
}

div.hero-image-icon-content-link a:hover {
    background: #010101;
    color: #fff;
    transition: 0.5s ease-in-out;
}

div.hero-image-icon-1 img {
    width: 530px;
    height: 300px;
    border-radius: 10px;
    margin-right: 30px;
    position: relative;
}

div.hero-image-icon-content-1 {
    position: absolute;
    left: 780px;
    top: 220px;
}

div.hero-image-icon-content-1 h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

div.hero-image-icon-content-1 h6 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

div.hero-image-icon-content-link-1 {
    margin-top: 30px;
}

div.hero-image-icon-content-link-1 a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    background: #fff;
    color: #010101;
    border: 0;
    font-size: 1rem;
    outline: none;
}

div.hero-image-icon-content-link-1 a:hover {
    background: #010101;
    color: #fff;
    transition: 0.5s ease-in-out;
} 

@media (max-width: 768px) {
    div.hero-image {
        display: flex;
        flex-direction: column;
    }

    div.sub-hero-section {
        padding: 2em;
    }
    
    div.sub-hero-icons {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }

    div.hero-image-icon img {
        width: 480px;
        height: 300px;
        border-radius: 10px;
        margin-left: 10px;
    }

    div.hero-image-icon-1 img {
        width: 480px;
        height: 300px;
        border-radius: 10px;
        margin-left: 10px;
        position: relative;
    }
    
    div.hero-image-icon-content-1 {
        position: absolute;
        left: 30px;
        top: 530px;
    }
}
/* Hero Section Styling Ends */

/* Sub-Hero Styling Starts */
div.sub-hero-section {
    padding: 2em;
}

div.sub-hero-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

div.icons-1 img {
    width: 80px;
    height: 80px;
}

div.icons-1 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

div.icons-2 img {
    width: 80px;
    height: 80px;
}

div.icons-2 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

div.icons-3 img {
    width: 80px;
    height: 80px;
}

div.icons-3 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

div.icons-4 img {
    width: 80px;
    height: 80px;
}

div.icons-4 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

div.icons-5 img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

div.icons-5 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

div.icons-6 img {
    width: 80px;
    height: 80px;
}

div.icons-6 h3 {
    color: #010101;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 768px) {
    div.sub-hero-icons {
        margin-top: 1em;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    div.icons-1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-1 {
        margin-bottom: 3em;
    }

    div.icons-2 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-2 {
        margin-bottom: 3em;
    }

    div.icons-3 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-3 {
        margin-bottom: 3em;
    }

    div.icons-4 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-4 {
        margin-bottom: 3em;
    }

    div.icons-5 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-5 {
        margin-bottom: 3em;
    }

    div.icons-6 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    div.icons-6 {
        margin-bottom: 3em;
    }
}
/* Sub-Hero Styling Ends */

/* Flip-Cards Styling Starts */
div.flip-cards-section {
    padding: 4em;
}

div.flip-cards-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.card-wrapper {
    display: inline-block;
    perspective: 1000px;
  }
  
  .card-wrapper .card {
    position: relative;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
  }
  
  .card-wrapper .card .front,
  .card-wrapper .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  
  .card-wrapper .card .front {
    z-index: 2;
  }
  
  .card-wrapper .card .back,
  .card-wrapper.flip-right .card .back {
    transform: rotateY(180deg);
  }
  
  .card-wrapper:hover .card,
  .card-wrapper.flip-right:hover .card {
    transform: rotateY(180deg);
  }
  
  .card-wrapper.flip-up .card .back {
    transform: rotateX(180deg);
  }
  
  .card-wrapper.flip-up:hover .card {
    transform: rotateX(180deg);
  }
  
  .card-wrapper,
  .card {
    width: 250px;
    height: 200px;
    margin: 10px;
  }
  
  .card .front,
  .card .back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fc545e;
    border-radius: 5px;
  }

  div.immmaeee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

   h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010101;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 5px;
  }

  div.front-image h6 {
      color: #919191;
      font-size: 0.6rem;
      font-weight: 300;
      text-align: center;
  }
  
  .card .back {
    background: #010101;
    border: 0;
  }

  .card .back h4{
    font-size: 0.8rem;
    color: #cec9c9;
    padding: 5px;
  }

  @media (max-width: 768px) {
    div.flip-cards-section {
        padding: 2em;
    }
    
    div.flip-cards-flex {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .card-wrapper,
  .card {
    width: 330px;
    height: 200px;
    margin: 8px;
  }
  }
  
/* Flip-Cards Styling Ends */

/* Shopping Section Styling Starts */
div.shopping-section {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #010101;
}

.title::after {
    content: '';
    background: #fc545e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

div.shopping-section-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

div.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

div.col-4 img {
    width: 100%;
}

div.col-4 h3 {
    color: #010101;
    font-weight: 300;
}

div.col-4 p {
    color: #555;
    font-weight: 300;
    font-size: 1rem;
}

div.rating .fas, div.rating .far {
    color: #ff523b;
}

div.col-4:hover {
    transform: translateY(-5px);
}

div.col-4-btn a {
    text-decoration: none;
    color: #010101;
    padding: 10px 30px;
    outline: none;
    border: 1px solid #fc545e;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}

div.col-4-btn a:hover {
    color: #fff;
    border: 0;
    background: #fc545e;
    transition: 0.5s ease-in-out;
}

@media(max-width: 768px) {
    div.shopping-section {
        padding: 1em;
    }
}
/* Shopping Section Styling Ends */

/* Offer Styling Starts */
div.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

div.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

div.col-2 h1 {
    font-size: 2.5rem;
    line-height: 60px;
    margin: 25px 0;
}

div.offer {
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 20px 0;
}

div.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

a.offer-btn {
    text-decoration: none;
    display: inline-block;
    background: #fc545e;
    color: #fff;
    padding: 10px 30px;
    outline: none;
    border: 0;
    letter-spacing: 1px;
    margin: 30px 0;
    border-radius: 10px;
}

a.offer-btn:hover {
    transition: 0.5s ease-in-out;
    background: #010101;
    color: #fff;
}
/* Offer Styling Ends */

/* Footer Styling Starts */
div.container {
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

div.footer {
    background: #221C24;
    color: #8a8a8a;
    padding: 60px 0 20px;
    font-size: 1.3em;
}

div.footer p {
    color: #8a8a8a
}

div.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

div.footer-col-1, div.footer-col-2, div.footer-col-3, div.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

div.footer-col-1 {
    flex-basis: 30%;
}

div.footer-col-1 h3 {
    font-size: 1.2rem;
}

div.footer-col-1 p {
    font-size: 1rem;
}

div.footer-col-2 {
    flex: 1;
    text-align: center;
}

div.footer-col-2 p {
    font-size: 0.9rem;
    margin-top: 10px;
}

div.footer-col-2 a {
    margin-bottom: 20px;
    width: 180px;
    font-size: 2.3rem;
    text-decoration: none;
    color: #ff523b;
}

div.footer-col-3, div.footer-col-4  {
    flex-basis: 12%;
    text-align: center;
}

div.footer-col-3 h3 {
    font-size: 1.2rem;
}

div.footer-col-3 ul {
    list-style: none;
}

div.footer-col-3 ul li{
    margin: 10px;
}

div.footer-col-3 ul li a{
    text-decoration: none;
    color: #8a8a8a;
    font-size: 0.9rem;
}

div.footer-col-4 h3 {
    font-size: 1.2rem;
}

div.footer-col-4 ul {
    list-style: none;
}

div.footer-col-4 ul li{
    margin: 10px;
}

div.footer-col-4 ul li a{
    text-decoration: none;
    color: #8a8a8a;
    font-size: 0.9rem;
}

div.app-logo {
    margin-top: 20px;
}

div.app-logo img {
    width: 140px;
}

div.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: #ff523b;
}
/* Footer Styling Ends */

/* Media Query for shopping section and footer */
@media (max-width: 768px) {
    div.row {
        text-align: center;
    }

    div.col-2, div.col-3, div.col-4 {
        flex-basis: 100%;
    }
}